@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Roboto+Mono:wght@300&family=Ubuntu:ital,wght@0,400;1,700&display=swap");

header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.Nav_bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;

  background-color: var(--charblack);
  position: sticky;
  top: 0;
}
.logo {
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 20px;
  cursor: pointer;
  &:hover {
    color: var(--yellow);
  }
}
.menuItems {
  margin: auto;
  padding: 0 0;
  list-style: none;

  display: flex;
  li {
    font-weight: 800;
    margin: 0 1.5rem;
    position: relative;
    cursor: pointer;
    &:hover {
      color: var(--yellow);
    }
  }
}
.icons {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 0;
  li {
    cursor: pointer;

    &:hover {
      color: yellow;
    }
  }
}
.btnburgerMenu {
  visibility: hidden;
  background-color: var(--charblack); /* Green */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}
.close-btn {
  visibility: hidden;
  background-color: var(--charblack);
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
}

@media screen and (max-width: 760px) {
  .menuItems {
    visibility: hidden;
  }

  .icons {
    display: none;
  }
  .btnburgerMenu {
    visibility: visible;
    opacity: 1;
    margin: auto;
    margin-right: 0;
  }
  .Nav_barMobile {
    height: 100vh;
    background-color: var(--charblack);
    align-items: start;
    .logo {
      position: relative;
      top: 20px;
    }
    .menuItems {
      visibility: visible;
      margin-top: 100px;
      margin-left: auto;
      flex-direction: column;
      gap: 50px;
      font-size: larger;
      max-width: 280px;
      width: auto;
    }
    .menuItems li {
      margin: auto;
    }
    .btnburgerMenu {
      visibility: hidden;
    }
    .close-btn {
      visibility: visible;
      opacity: 1;
      position: relative;
      top: -380px;
      left: 500px;
      margin-left: auto;
    }
  }
}
