:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161212fa;
  --pink: rgb(249, 52, 157);
  --charblack: #161212fa;
  --yellow: yellow;
  --gradient: linear-gradient(
    27deg,
    rgba(15, 32, 199, 1) 30%,
    rgba(105, 128, 226, 1) 49%,
    rgba(117, 116, 230, 1) 55%,
    rgba(134, 99, 235, 1) 60%,
    rgba(188, 45, 253, 1) 73%
  );
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
}
